services:
  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: backend
      POSTGRES_USER: backend
      POSTGRES_PASSWORD: backend
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: django-backend
    ports:
      - "8000:8000"
    volumes:
      - ./Backend:/app
    depends_on:
      - db
    environment:
      - PG_DB=backend
      - PG_USER=backend
      - PG_PASSWORD=backend
      - PG_HOST=db
      - PG_PORT=5432
    command: >
      sh -c "
      sleep 5 &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "

volumes:
  postgres_data:
